<!DOCTYPE html>
<html>
    <head>
        <title>
            YAFA - Authentication Page
        </title>
        <link href="../static/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <ul class="navigation">
            <li><a href="./">Home</a></li>
            <li class="active"><a href="./auth">Authentication</a></li>
            <li><a href="./journal">Journal</a></li>
            <li><a href="./progress">Progress</a></li>
            <li><a href="./settings">Settings</a></li>
        </ul>
        <h1>Welcome to the YAFA Authentication Page!</h1>
        <p>This is where you can log in to access your fitness data.</p>
    </body>