{% extends "base.html" %}

{% block title %}Add Journal Entry{% endblock %}

{% block header %}
    <h1>Add New Journal Entry</h1>
{% endblock %}

{% block body %}
    <form method="POST" action="/journal">
        {% if user_id %}
            <input type="hidden" name="user_id" value="{{ user_id }}">
        {% endif %}
        <div>
            <label for="user_id">User ID</label>
            <input type="number" id="user_id" name="user_id" required>
        </div>
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="entry_title" required>
        </div>
        <div>
            <label for="log">Log</label>
            <textarea id="log" name="entry_content" required></textarea>
        </div>
        <div>
            <label for="date">Date</label>
            <input type="date" id="date" name="entry_date" required>
        </div>
        <button type="submit">Add Entry</button>
    </form>
    {% if error_message %}
    <div style="color: red;">{{ error_message }}</div>
    {% endif %}

    <h2>All Journal Entries</h2>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Title</th>
                <th>Date</th>
                <th id="journal_log">Log</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in journal_query_result %}
            <tr>
                <td>{{ entry.user_id }}</td>
                <td>{{ entry.entry_title }}</td>
                <td>{{ entry.entry_date }}</td>
                <td id ="journal_log">{{ entry.entry_content }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}